@model todolist_demo.Models.TaskInfo
@{
    ViewBag.Title = "Task_Form";
}

@using (Html.BeginForm("Save", "TaskInfo"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

